<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>
<br/>
<hr/>
<form th:method="post" th:action="@{/registration}" th:object="${user}">
  <label for="name">Введите имя</label>
  <input type="text" th:field="*{name}" id="name"/>
  <div class="error"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
  <br/>
  <label for="surname">Введите фамилию</label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <div class="error"  th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>
  <br/>
  <label for="username">Введите адрес электронной почты</label>
  <input type="text" th:field="*{username}" id="username"/>
  <div class="error"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>
  <br/>
  <label for="password">Введите пароль</label>
  <input type="password" th:field="*{password}" id="password"/>
  <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
  <br/>

  <button type="submit" class="btn btn-4 hover-border-8">
    <span>Sign up</span>
  </button>

  <br/>

  <form action="/login" method="get"><input type="submit" value="Login"/>

</form>
</body>
</html>